{% extends 'base.html.twig' %}

{% block title %}
	E-vidy : Home
{% endblock %}

{% block body %}
	<div class="body">

		{% include "main/navbar.html.twig" %}


		<div class="container contenu">
			<div
				class="row g-4">
				<!-- Profil-->
				{% include "main/leftprofil.html.twig" %}
				<!-- End Profil-->

				<!-- Main Center-->
				{% include "main/main.html.twig" %}

				<!-- Right menu-->
			{% include "main/rightmenu.html.twig" %}
				<!-- End right-->
			</div>

		</div>

		<script>

			function openMsgByUser(user_id) {
				document.querySelector("#message_user_id").setAttribute("data-userId", user_id)
			}


		</script>

		{% include 'user/chat.html.twig' %}
	{% endblock %}
