{% extends 'base.html.twig' %}

{% block title %}
	E-vidy : Home
{% endblock %}

{% block body %}
	<div class="body">

		{% include "main/navbar.html.twig" %}


		<div class="container contenu">
			<div
				class="row g-4">
				<!-- Profil-->
				{% include "main/leftprofil.html.twig" %}
				<!-- End Profil-->

				<!-- Main Center-->
				{% include "main/main.html.twig" %}

				<!-- Right menu-->
			{% include "main/rightmenu.html.twig" %}
				<!-- End right-->
			</div>

		</div>

		<script>

			function openMsgByUser(user_id) {
				document.querySelector("#message_user_id").setAttribute("data-userId", user_id)
			}

			function sendActivity(){

				let user_id = {{app.user.id}}

				let data ={
					"product": document.querySelector("#qwq_product").value,
					"description" : document.querySelector("#qwq_description").value,
					"devise" : document.querySelector("#qwq_devise").value,
					"location" : document.querySelector("#qwq_location").value,
					"user_id" : user_id,
					"price" : document.querySelector("#qwq_price").value,
					"quantity" : document.querySelector("#qwq_quantity").value,
					"photos" : "",
					"isDelivery" : document.querySelector("#qwq_isDelivery").value == "on" ? 1 : 0,
					"isWait" : 0,
				};

				console.log(data);

				fetch(new Request("/user/post_sale", {
					method: "POST",
					headers: {
					'Accept': 'application/json',
					'Content-Type': 'application/json'
					},
					body: JSON.stringify(data)
					})).then(req => req.json()).then(message => {
						console.log(message);
				})
			}

		</script>

		{% include 'user/chat.html.twig' %}
	{% endblock %}
