<div class="main-left-b">
	<div class="couverture-image">
		<img src="/images/couverture.jpg" class="img-responsive" alt="">
	</div>

	<div class="profil-image">
		<img src="/images/images.jfif" class="img-responsive" alt="">
	</div>

	<div class="profil-label">
		<ul>
			<li>
				<h5>{{lastUsername}}</h5>
			</li>
			<li>
				<small>@{{user.pseudo}}</small>
			</li>
			<ul></div>

			<div class="profil-button">
				<button class="btn btn-outline-info">
					<i class="bi bi-plus"></i>
					Follow</button>
				<button class="btn btn-outline-primary">
					<i class="bi bi-messenger"></i>
					Message</button>
			</div>

			<div class="profil-menu">
				<div class="list-group-b" style="">
					<a href="#" class="list-group-item-b active" aria-current="true">
						<i class="bi bi-houses"></i>
						Actualités
					</a>
					<a href="#" class="list-group-item-b ">
						<i class="bi bi-people"></i>
						Amis</a>
					<a href="#" class="list-group-item-b ">
						<i class="bi bi-clipboard-plus"></i>
						Suivis</a>
					<a href="#" class="list-group-item-b ">
						<i class="bi bi-gear"></i>
						Paramettre</a>
					<a href="#" class="list-group-item-b ">
						<i class="bi bi-info-square"></i>
						Aides</a>
				</div>

			</div>

		</div>
