<div
	class="col-md-8 col-lg-6 vstack gap-4">
	{# {% include "story.html.twig" %} #}

	<div class="card card-body">
		<div
			class="d-flex mb-3">
			<!-- Avatar -->
			<div class="avatar avatar-xs me-2">
				<a href="#">
					<img class="avatar-img rounded-circle" src="/images/img.jpg" alt="">
				</a>
			</div>
			<!-- Post input -->
			<form class="w-100">
				<textarea class="form-control pe-4 border-0" rows="2" data-autoresize="" placeholder="Ecrire une publication..."></textarea>
			</form>
		</div>
		<!-- Share feed toolbar START -->
		<ul class="nav nav-pills nav-stack small fw-normal">
			<li class="nav-item">
				<a class="nav-link bg-light py-1 px-2 mb-0" href="#!" data-bs-toggle="modal" data-bs-target="#feedActionPhoto">
					<i class="bi bi-image-fill text-success pe-2"></i>Photo</a>
			</li>
			<li class="nav-item">
				<a class="nav-link bg-light py-1 px-2 mb-0" href="#!" data-bs-toggle="modal" data-bs-target="#feedActionVideo">
					<i class="bi bi-camera-reels-fill text-info pe-2"></i>Video</a>
			</li>
			<li class="nav-item">
				<a href="#" class="nav-link bg-light py-1 px-2 mb-0" data-bs-toggle="modal" data-bs-target="#modalCreateEvents">
					<i class="bi bi-calendar2-event-fill text-danger pe-2"></i>Event
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link bg-light py-1 px-2 mb-0" href="#!" data-bs-toggle="modal" data-bs-target="#modalCreateFeed">
					<i class="bi bi-emoji-smile-fill text-warning pe-2"></i>Feeling /Activity</a>
			</li>
			<li class="nav-item dropdown ms-lg-auto">
				<a class="nav-link bg-light py-1 px-2 mb-0" href="#" id="feedActionShare" data-bs-toggle="dropdown" aria-expanded="false">
					<i class="bi bi-three-dots"></i>
				</a>
				<!-- Dropdown menu -->
				<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="feedActionShare">
					<li>
						<a href="#" class="nav-link bg-light py-1 px-2 mb-0" data-bs-toggle="modal" data-bs-target="#modalCreateSale">
							<i class="bi bi-envelope fa-fw pe-2"></i>Vendre un article
						</a>
					</li>
					<li>
						<a class="dropdown-item" href="#">
							<i class="bi bi-bookmark-check fa-fw pe-2"></i>Achat un article
						</a>
					</li>
					<li><hr class="dropdown-divider"></li>
					<li>
						<a class="dropdown-item" href="#">
							<i class="bi bi-pencil-square fa-fw pe-2"></i>Help</a>
					</li>
				</ul>
			</li>
		</ul>
		<!-- Share feed toolbar END -->
	</div>

	<div class="card-b mb-3 card-article">
		<div class="card-body">
			<div class="mb-3" style="">
				<div class="row g-0">
					<div class="col-2">
						<img src="/images/images.jfif" class="img-responsive" alt="" style="width:60px;">
					</div>
					<div class="col-9">
						<div class="card-body">
							<h5 class="card-title">
								<a href="#" class="lien">ShopRaphia.mg</a>
							</h5>
							<small class="card-text">
								<a href="#" class="lien">
									<i class="bi bi-person-circle"></i>
									Elie Fenohasina</a>
								.
								<small class="text-muted">il y a 3 mininutes</small>
								.
								<small class="text-muted">publique</small>
							</small>
						</div>
					</div>
					<div class="col-1 float-end">
						<i class="bi bi-three-dots fa-xl float-end"></i>
					</div>
				</div>
			</div>

			<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
			<p class="card-text">
				Prix :
				<small class="text-muted">
					<strike>Ar 200 000
					</strike>
					<span class="badge rounded-pill text-bg-success">150 000 Ariary</span>
				</small><br>

			</p>
			<div class="bg-transparent">
				<button class="btn btn-outline-primary float-end">
					<i class="bi bi-cart2"></i>
					Ajouter au panier</button>
			</div>

			<img src="/images/img.jpg" class="card-img-bottom" alt="..." style="height:300px;">

		</div>

		<hr>

		<div class="card-footer bg-transparent">
			<div class="row">
				<button class="btn btn-light text-center col-4">
					<i class="bi bi-hand-thumbs-up"></i>
					J'aime</button>
				<button class="btn btn-light text-center col-4">
					<i class="bi bi-chat-square"></i>
					Commenter</button>
				<button class="btn btn-light text-center col-4">
					<i class="bi bi-share"></i>
					Partager</button>
			</div>
		</div>
	</div>

	<div class="card">
		<!-- Card header START -->
		
		<!-- Card header END -->
		<!-- Card body START -->
		<div class="card-body">
			<p>I'm thrilled to share that I've completed a graduate certificate course in project management with the president's honor roll.</p>
			<!-- Card img -->
			<img class="card-img" src="/images/01.jpg" alt="Post">
			<!-- Feed react START -->
			<ul class="nav nav-stack py-3 small">
				<li class="nav-item">
					<a class="nav-link" href="#!">
						<i class="bi bi-hand-thumbs-up-fill pe-1"></i>Liked (56)
					</a>
				</li>
				<li class="nav-item" data-bs-toggle="collapse" href="#collapseCommentaire" role="button" aria-expanded="false" aria-controls="collapseCommentaire">
					<a class="nav-link" href="#!">
						<i class="bi bi-chat-fill pe-1"></i>Comments (12)
					</a>
				</li>
				<!-- Card share action START -->
				<li class="nav-item dropdown ms-sm-auto">
					<a class="nav-link mb-0" href="#" id="cardShareAction" data-bs-toggle="dropdown" aria-expanded="false">
						<i class="bi bi-reply-fill flip-horizontal ps-1"></i>Share (3)
					</a>
					<!-- Card share action dropdown menu -->
					<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="cardShareAction" style="">
						<li>
							<a class="dropdown-item" href="#">
								<i class="bi bi-envelope fa-fw pe-2"></i>Send via Direct Message</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">
								<i class="bi bi-bookmark-check fa-fw pe-2"></i>Bookmark
							</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">
								<i class="bi bi-link fa-fw pe-2"></i>Copy link to post</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">
								<i class="bi bi-share fa-fw pe-2"></i>Share post via …</a>
						</li>
						<li><hr class="dropdown-divider"></li>
						<li>
							<a class="dropdown-item" href="#">
								<i class="bi bi-pencil-square fa-fw pe-2"></i>Share to News Feed</a>
						</li>
					</ul>
				</li>
				<!-- Card share action END -->
			</ul>
			<!-- Feed react END -->

			<!-- Add comment -->
			<div class="collapse" id="collapseCommentaire">
				<div
					class="d-flex">
					<!-- Avatar -->
					<div class="avatar avatar-xs me-2">
						<a href="#!">
							<img class="avatar-img rounded-circle" src="/images/img.jpg" alt="">
						</a>
					</div>
					<!-- Comment box  -->
					<form class="w-100">
						<textarea data-autoresize="" class="form-control pe-4 bg-light" rows="1" placeholder="Add a comment..."></textarea>
					</form>
				</div>
				<!-- Comment wrap START -->
				<ul
					class="comment-wrap list-unstyled">
					<!-- Comment item START -->
					<li class="comment-item">
						<div
							class="d-flex position-relative">
							<!-- Avatar -->
							<div class="avatar avatar-xs">
								<a href="#!"><img class="avatar-img rounded-circle" src="assets/images/avatar/05.jpg" alt=""></a>
							</div>
							<div
								class="ms-2">
								<!-- Comment by -->
								<div class="bg-light rounded-start-top-0 p-3 rounded">
									<div class="d-flex justify-content-between">
										<h6 class="mb-1">
											<a href="#!">
												Frances Guerrero
											</a>
										</h6>
										<small class="ms-2">5hr</small>
									</div>
									<p class="small mb-0">Removed demands expense account in outward tedious do. Particular way thoroughly unaffected projection.</p>
								</div>
								<!-- Comment react -->
								<ul class="nav nav-divider py-2 small">
									<li class="nav-item">
										<a class="nav-link" href="#!">
											Like (3)</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#!">
											Reply</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#!">
											View 5 replies</a>
									</li>
								</ul>
							</div>
						</div>
						<!-- Comment item nested START -->
						<ul
							class="comment-item-nested list-unstyled">
							<!-- Comment item START -->
							<li class="comment-item">
								<div
									class="d-flex">
									<!-- Avatar -->
									<div class="avatar avatar-xs">
										<a href="#!"><img class="avatar-img rounded-circle" src="assets/images/avatar/06.jpg" alt=""></a>
									</div>
									<!-- Comment by -->
									<div class="ms-2">
										<div class="bg-light p-3 rounded">
											<div class="d-flex justify-content-between">
												<h6 class="mb-1">
													<a href="#!">
														Lori Stevens
													</a>
												</h6>
												<small class="ms-2">2hr</small>
											</div>
											<p class="small mb-0">See resolved goodness felicity shy civility domestic had but Drawings offended yet answered Jennings perceive.</p>
										</div>
										<!-- Comment react -->
										<ul class="nav nav-divider py-2 small">
											<li class="nav-item">
												<a class="nav-link" href="#!">
													Like (5)</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="#!">
													Reply</a>
											</li>
										</ul>
									</div>
								</div>
							</li>
							<!-- Comment item END -->
							<!-- Comment item START -->
							<li class="comment-item">
								<div
									class="d-flex">
									<!-- Avatar -->
									<div class="avatar avatar-story avatar-xs">
										<a href="#!"><img class="avatar-img rounded-circle" src="assets/images/avatar/07.jpg" alt=""></a>
									</div>
									<!-- Comment by -->
									<div class="ms-2">
										<div class="bg-light p-3 rounded">
											<div class="d-flex justify-content-between">
												<h6 class="mb-1">
													<a href="#!">
														Billy Vasquez
													</a>
												</h6>
												<small class="ms-2">15min</small>
											</div>
											<p class="small mb-0">Wishing calling is warrant settled was lucky.</p>
										</div>
										<!-- Comment react -->
										<ul class="nav nav-divider py-2 small">
											<li class="nav-item">
												<a class="nav-link" href="#!">
													Like</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="#!">
													Reply</a>
											</li>
										</ul>
									</div>
								</div>
							</li>
							<!-- Comment item END -->
						</ul>
						<!-- Load more replies -->
						<a href="#!" role="button" class="btn btn-link btn-link-loader btn-sm text-secondary d-flex align-items-center mb-3 ms-5" data-bs-toggle="button" aria-pressed="true">
							<div class="spinner-dots me-2">
								<span class="spinner-dot"></span>
								<span class="spinner-dot"></span>
								<span class="spinner-dot"></span>
							</div>
							Load more replies
						</a>
						<!-- Comment item nested END -->
					</li>
					<!-- Comment item END -->
					<!-- Comment item START -->
					<li class="comment-item">
						<div
							class="d-flex">
							<!-- Avatar -->
							<div class="avatar avatar-xs">
								<a href="#!"><img class="avatar-img rounded-circle" src="assets/images/avatar/05.jpg" alt=""></a>
							</div>
							<!-- Comment by -->
							<div class="ms-2">
								<div class="bg-light p-3 rounded">
									<div class="d-flex justify-content-between">
										<h6 class="mb-1">
											<a href="#!">
												Frances Guerrero
											</a>
										</h6>
										<small class="ms-2">4min</small>
									</div>
									<p class="small mb-0">Removed demands expense account in outward tedious do. Particular way thoroughly unaffected projection.</p>
								</div>
								<!-- Comment react -->
								<ul class="nav nav-divider pt-2 small">
									<li class="nav-item">
										<a class="nav-link" href="#!">
											Like (1)</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#!">
											Reply</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#!">
											View 6 replies</a>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<!-- Comment item END -->
				</ul>
				<!-- Comment wrap END -->
			</div>
		</div>
		<!-- Card body END -->

	</div>
	<script>
		const bsCollapse = new bootstrap.Collapse('#collapseCommentaire', {toggle: false})
	</script>

</div>
{% include "main/modal.html.twig" %}
