<div class="main-right-b">
	<h5 class="sponsors">
		<i class="bi bi-bar-chart-line-fill"></i>
		Ventes premium</h5>
	<div class="thumb-wrapper mb-5">
		<span class="wish-icon">
			<i class="fa fa-heart-o"></i>
		</span>
		<div class="img-box">
			<img src="/images/img.jpg" class="img-fluid" alt="Pixel">
		</div>
		<div class="thumb-content">
			<h4>Google Pixel</h4>
			<p class="item-price">
				<strike>Ar 45 000</strike>
				<span>Ar 41 800</span>
			</p>
			<div class="star-rating">
				<ul class="list-inline">
					<li class="list-inline-item">
						<i class="fa fa-star"></i>
					</li>
					<li class="list-inline-item">
						<i class="fa fa-star"></i>
					</li>
					<li class="list-inline-item">
						<i class="fa fa-star"></i>
					</li>
					<li class="list-inline-item">
						<i class="fa fa-star"></i>
					</li>
					<li class="list-inline-item">
						<i class="fa fa-star-half-o"></i>
					</li>
				</ul>
			</div>
			<a href="#" class="btn btn-primary">
				<i class="bi bi-cart2"></i>
				Ajouter au panier</a>
		</div>
	</div>

	<h5 class="text-center"><i class="bi bi-messenger"></i> Créer un message</h5>

	<div class="list-group">
		{% for user in user_list %}
			<a href="/user/all_messages" class="list-group-item list-group-item-action" onclick="openMsgByUser({{user.id}})">@{{user.pseudo}}</a>

		{% endfor %}
	</div>

</div>
