<!DOCTYPE html>
<html>
	<head>
		<title>e-vidy</title>
		<link href="{{asset('css/okcss.css')}}" rel="stylesheet">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
	</head>
	<body>

		<div class="body">
			<div class="navtete">
				<nav style="" class="container navbar navbar-expand-lg navbar-dark">
					<div class="container-fluid">
						<img src="/icons/icon.PNG" style="width:50px;"></img>

					<!-- Search form -->
					<form class="d-flex input-group w-50 ms-lg-3 my-3 my-lg-0">
						<input type="search" class="form-control" placeholder="Rechercher" aria-label="Search"/>
						<button class="btn btn-outline-primary" type="button">
							Rechercher
						</button>
					</form>

					<!-- Collapsible wrapper -->
					<div class="collapse navbar-collapse" id="navbarSupportedContent">

						<ul class="navbar-nav ms-auto d-flex flex-row mt-3 mt-lg-0">

							<!-- Modal Carte -->
							<li class="nav-item text-center mx-2 mx-lg-1">

								<div class="btn-group">
									<a class="nav-link" href="#!" id="liveToastBtnCart" data-bs-toggle="dropdown" aria-expanded="false">
										<div class="position-relative">
											<i class="bi bi-cart icon-nav"></i>
											<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" id="nb_carte">
												9+
											</span>
										</div>
									</a>

									<div class="dropdown-menu" style="width:300px;">
										<div class="dropdown-item"><i class="bi bi-cart m-2"></i>
											<strong class="me-auto">  Cartes</strong>
										</div>
										<hr class="dropdown-divider">
										<div class="m-2"> Contenu des messages</div>
										<div><a class="dropdown-item" href="#">Separated link</a></div>
									</div>
								</div>

							</li>

							<!-- Modal Message -->

							<li class="nav-item text-center mx-2 mx-lg-1">
								<div class="btn-group">
									<a class="nav-link" href="#!" id="liveToastBtnMsg" data-bs-toggle="dropdown" aria-expanded="false">
										<div class="position-relative">
											<i class="bi bi-messenger icon-nav"></i>
											<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" id="nb_message">
												9+
											</span>
										</div>
									</a>

									<div class="dropdown-menu" style="width:300px;">
										<div class="dropdown-item"><i class="bi bi-messenger m-2"></i>
											<strong class="me-auto">  Messages</strong>
										</div>
										<hr class="dropdown-divider">
										<div class="m-2 mb-3 overflow-auto h-50" id="message_body" > Contenu des messages</div>
									</div>
								</div>
								
							</li>

							<!-- Modal Notification -->

							<li class="nav-item text-center mx-2 mx-lg-1">

								<!-- Example single danger button -->
								<div class="btn-group">
									<a class="nav-link" href="#!" id="liveToastBtnNotif" data-bs-toggle="dropdown" aria-expanded="false">
										<div class="position-relative">
											<i class="bi bi-bell-fill icon-nav"></i>
											<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" id="nb_notif">
												9+
											</span>
										</div>
									</a>

									<div class="dropdown-menu" style="width:300px;">
										<div class="dropdown-item"><i class="bi bi-bell-fill m-2"></i>
											<strong class="me-auto">  Notifications</strong>
										</div>
										<hr class="dropdown-divider">
										<div class="m-2"> Contenu des notifs</div>
										<div><a class="dropdown-item" href="#">Separated link</a></div>
									</div>
								</div>
							</li>

							<!-- Modal Profli -->
							
							<li class="nav-item text-center mx-2 mx-lg-1">

								<div class="btn-group">
									<div class="icon-nav profil-show " data-bs-toggle="dropdown" aria-expanded="false" >
										<i class="bi bi-person-circle icon-nav"></i>
										<small class="dropdown-toggle m-1">
											Hi, Elie
										</small>
									</div>
									<ul class="dropdown-menu">
										<li><a class="dropdown-item" href="#"><h5><i class="bi bi-person-circle m-2"></i>Elie Fenohasina</h5></a></li>
										<li><hr class="dropdown-divider"></li>
										<li><a class="dropdown-item mb-2" href="#"><i class="bi bi-shield-fill-check"></i> Sécurité</a></li>
										<li><a class="dropdown-item mb-2" href="#"><i class="bi bi-stack"></i> Confidentialité</a></li>
										<li><a class="dropdown-item mb-2" href="#"><i class="bi bi-globe"></i> Language</a></li>
										<li><hr class="dropdown-divider"></li>
										<li><a class="dropdown-item text-danger" href="#"><i class="bi bi-box-arrow-right"></i> Deconnecter</a></li>
									</ul>
								</div>
								
							</li>

						</ul>
					</div>

				</div>
			</nav>
		</div>

		<div
			class="container contenu">
			<!-- Profil-->
			<div class="main-left-b">
				<div class="couverture-image">
					<img src="/images/couverture.jpg" class="img-responsive" alt="">
				</div>

				<div class="profil-image">
					<img src="/images/images.jfif" class="img-responsive" alt="">
				</div>

				<div class="profil-label">
					<h5>Elie Fenohasina</h5><br>

				</div>

				<div class="profil-button">
					<button class="btn btn-outline-info"> <i class="bi bi-plus"></i> Follow</button>
					<button class="btn btn-outline-primary"><i class="bi bi-messenger"></i> Message</button>
				</div>

				<div class="profil-menu">
					<div class="list-group-b" style="">
						<a href="#" class="list-group-item-b active" aria-current="true"><i class="bi bi-houses"></i> 
							Actualités
						</a>
						<a href="#" class="list-group-item-b "><i class="bi bi-people"></i> Amis</a>
						<a href="#" class="list-group-item-b "><i class="bi bi-clipboard-plus"></i> Suivis</a>
						<a href="#" class="list-group-item-b "><i class="bi bi-gear"></i> Paramettre</a>
						<a href="#" class="list-group-item-b "> <i class="bi bi-info-square"></i> Aides</a>
					</div>
					
				</div>

			</div>
			<!-- End Profil-->

			<!-- Main Center-->
			<div class="main-center-b mb-10" style="margin-left:10px;margin-right:10px;">
				{# {% include "story.html.twig" %} #}
				<div id="" class="card-b mb-3">
					<div class="row p-3">
						<div class="col-1 rounded-circle">
							<img id="roundedImg" style="min-height: 50px; min-width:50px; max-width:50px; max-height: 50px;" class="rounded-circle border border-1" src="/images/img.jpg">
						</div>
						<div class="col-11 ml-2">
							<input id="btnShowModalAddPub" type="text" class="form-control form-control-lg rounded-pill bg-transparent text-white" data-bs-toggle="modal" data-bs-target="#modal_publication" data-bs-whatever="@mdo" placeholder="Exprimez-vous...">
						</div>
						<div class="row mt-3">
							<div class="col-3 text-center" style="cursor:pointer;">
								<i class="bi bi-graph-up"></i> 
								Vendre
						</div>
						<div class="col-3 text-center" style="cursor:pointer;">
							<i class="bi bi-cart-fill"></i> 
								Acheter
						</div>
						<div class="col-3 text-center" data-bs-toggle="modal" data-bs-target="#modal_evenement" data-bs-whatever="@mdo" style="cursor:pointer;">
							<i class="bi bi-calendar2-event-fill">
								</i> Evenement

						</div>
						<div class="col-3 text-center" style="cursor:pointer;">
							<i class="bi bi-pencil-square"></i>
							Commande
						</div>
					</div>
				</div>
				</div>
	
				<div class="card-b mb-3 card-article">
					<div class="card-body">
						<div class="mb-3" style="max-width: 540px;">
							<div class="row g-0">
								<div class="col-md-2">
									<img src="/images/images.jfif" class="img-responsive" alt="" style="width:60px;">
								</div>
								<div class="col-md-10">
									<i class="bi bi-three-dots float-end more-end fa-xl"></i>
									<div class="card-body">
										<h5 class="card-title">
											<a href="#" class="lien">ShopRaphia.mg</a>
										</h5>
										<small class="card-text">
											<a href="#" class="lien"><i class="bi bi-person-circle"></i> Elie Fenohasina</a> . 
											<small class="text-muted">il y a 3 mininutes</small> . 
											<small class="text-muted">publique</small>
										</small>
									</div>
								</div>
							</div>
						</div>

						<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
						<p class="card-text">
							Prix : <small class="text-muted"><strike>Ar 200 000 </strike> <span class="badge rounded-pill text-bg-success">150 000 Ariary</span></small><br>
							
						</p>
						<div class="bg-transparent">
							<button class="btn btn-outline-primary float-end"><i class="bi bi-cart2"></i> Ajouter au panier</button>
						</div>

						<img src="/images/img.jpg" class="card-img-bottom" alt="..." style="height:300px;">
						
					</div>
					<div class="row" style="margin-top:10px;">
						<small class="col-6 float-start"><i class="bi bi-hand-thumbs-up fa-sm reaction-number"> 48</i></small>
						<small class="col-6"><i class="float-end"> 4 commentaires</i></small>
					</div>
					<hr>

					<div class="card-footer bg-transparent">
						<div class="row">
							<button class="btn btn-light text-center col-4"><i class="bi bi-hand-thumbs-up"></i> J'aime</button>
							<button class="btn btn-light text-center col-4"><i class="bi bi-chat-square"></i> Commenter</button>
							<button class="btn btn-light text-center col-4"><i class="bi bi-share"></i> Partager</button>
						</div>
					</div>
				</div>

				<div class="card-b mb-3 card-article">
					<div class="card-body">
						<div class="mb-3" style="max-width: 540px;">
							<div class="row g-0">
								<div class="col-md-2">
									<img src="/images/images.jfif" class="img-responsive" alt="" style="width:60px;">
								</div>
								<div class="col-md-10">
									<i class="bi bi-three-dots float-end more-end fa-xl"></i>
									<div class="card-body">
										<h5 class="card-title">
											<a href="#" class="lien">ShopRaphia.mg</a>
										</h5>
										<small class="card-text">
											<a href="#" class="lien"><i class="bi bi-person-circle"></i> Elie Fenohasina</a> . 
											<small class="text-muted">il y a 3 mininutes</small> . 
											<small class="text-muted">publique</small>
										</small>
									</div>
								</div>
							</div>
						</div>

						<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
						<p class="card-text">
							Prix : <small class="text-muted"><strike>Ar 200 000 </strike> 190 000 Ariary</small><br>
						</p>
						<div class="bg-transparent">
							<button class="btn btn-outline-primary float-end"><i class="bi bi-cart2"></i> Ajouter au panier</button>
						</div>

						<img src="/images/img.jpg" class="card-img-bottom" alt="..." style="height:300px;">
						
					</div>
					<div class="row" style="margin-top:10px;">
						<small class="col-6 float-start"><i class="bi bi-hand-thumbs-up fa-sm reaction-number"> 48</i></small>
						<small class="col-6"><i class="bi bi-hand-thumbs-up fa-sm  float-end"> 4 commentaires</i></small>
					</div>
					<hr>
					<div class="card-footer bg-transparent">
						<div class="row">
							<button class="btn btn-light text-center col-4"><i class="bi bi-hand-thumbs-up"></i> J'aime</button>
							<button class="btn btn-light text-center col-4"><i class="bi bi-chat-square"></i> Commenter</button>
							<button class="btn btn-light text-center col-4"><i class="bi bi-share"></i> Partager</button>
						</div>
					</div>
				</div>


			</div>

			<!-- Right menu-->
			<div class="main-right-b">
				<h5 class="sponsors"><i class="bi bi-bar-chart-line-fill"></i> Ventes premium</h5>
				<div class="thumb-wrapper">
					<span class="wish-icon"><i class="fa fa-heart-o"></i></span>
					<div class="img-box">
						<img src="/images/img.jpg" class="img-fluid" alt="Pixel">
					</div>
					<div class="thumb-content">
						<h4>Google Pixel</h4>
						<p class="item-price"><strike>Ar 45 000</strike> <span>Ar 41 800</span></p>
						<div class="star-rating">
							<ul class="list-inline">
								<li class="list-inline-item"><i class="fa fa-star"></i></li>
								<li class="list-inline-item"><i class="fa fa-star"></i></li>
								<li class="list-inline-item"><i class="fa fa-star"></i></li>
								<li class="list-inline-item"><i class="fa fa-star"></i></li>
								<li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
							</ul>
						</div>
						<a href="#" class="btn btn-primary"><i class="bi bi-cart2"></i> Ajouter au panier</a>
					</div>						
				</div>

			</div>
			<!-- End right-->

		</div>
		{% include 'user/chat.html.twig' %}


	</body>
	<script>
	/*const toastTriggerMsg = document.querySelector("a[id^='onmessage_']")
	const toastLiveMsg = document.getElementById('liveToastMsg')
	
	if (toastTriggerMsg) {
	toastTriggerMsg.addEventListener('click', () => {
		const toast = new bootstrap.Toast(toastLiveMsg)
		toast.show()
		getMessage();
	})
	}*/
	const toastTriggerMsg = document.getElementById('liveToastBtnMsg')
	
	if (toastTriggerMsg) {
	toastTriggerMsg.addEventListener('click', () => {
		console.log("message clicked...")

		setIsShow();

		getMessage();

	})
	}
	const toastTriggerNotif = document.getElementById('liveToastBtnNotif')
	if (toastTriggerNotif) {
	toastTriggerNotif.addEventListener('click', () => {
		console.log("notification clicked...")
	})
	}
	const toastTriggerCart= document.getElementById('liveToastBtnCart')
	if (toastTriggerCart) {
	toastTriggerCart.addEventListener('click', () => {
		console.log("Cart clicked...")
	})
	}

	const toastTriggerProfil= document.getElementById('liveToastBtnProfil')
	const toastLiveProfil = document.getElementById('liveToastProfil')
	if (toastTriggerProfil) {
	toastTriggerProfil.addEventListener('click', () => {
		const toast = new bootstrap.Toast(toastLiveProfil)
		toast.show()
		
	})
	}

	const evtSourceNotif = new EventSource("/user/notifications");
	evtSourceNotif.onmessage = function(event) {
        const dataset = JSON.parse(event.data);
		if(dataset == 0){
			document.querySelector("#nb_notif").style.display = "none"
		}
		else if(dataset<=9){
			document.querySelector("#nb_notif").textContent = dataset
		}else{
			document.querySelector("#nb_notif").textContent = 9+"+"
		}
		//console.log(" dataset : "+dataset);
	}

	const evtSourceMsg = new EventSource("/user/messages");
	evtSourceMsg.onmessage = function(event) {
        const dataset = JSON.parse(event.data);
		if(dataset == 0){
			document.querySelector("#nb_message").style.display = "none"
		}
		else if(dataset<=9){
			document.querySelector("#nb_message").textContent = dataset
		}else{
			document.querySelector("#nb_message").textContent = 9+"+"
		}
		//console.log(" dataset : "+dataset);
	}

	const evtSourceCart = new EventSource("/user/cartes");
	evtSourceCart.onmessage = function(event) {
        const dataset = JSON.parse(event.data);
		if(dataset == 0){
			document.querySelector("#nb_carte").style.display = "none"
		}
		else if(dataset<=9){
			document.querySelector("#nb_carte").textContent = dataset
		}else{
			document.querySelector("#nb_carte").textContent = 9+"+"
		}
		//console.log(" dataset : "+dataset);
	}

	function getMessage(){
		fetch("/user/get_messages", {
			method: "GET",
			headers: {
				'Accept': 'application/json',
				'Content-Type': 'application/json'
			}
		}).then(response => response.json()).then(data=>{
			if(data=="Aucun message"){
				document.querySelector("#message_body").innerHTML = data;
			}else if(data.length>0){

				let res ="";
				for(let d of data){
					let isRead = d.isRead == 0 ? "bg-info-subtle" :"";
					if(d.content.length > 50){
						let substr = d.content.substring(0, 50)
						res +=`<div class="row message_box w-100 m-auto mb-2 ${isRead}"> <span onclick="openMsg(${d.id},${d.user_id})"><i class="col-2 bi bi-person-circle m-1 text-primary"> Elie Fenohasina</i><p class="col-10">${substr}...</p></span> </div>`
				
					}else{
						res +=`<div class="row message_box w-100 m-auto mb-2 ${isRead}"> <span onclick="openMsg(${d.id},${d.user_id})"><i class="col-2 bi bi-person-circle m-1 text-primary"> Elie Fenohasina</i><p class="col-10">${d.content}</p></span> </div>`
						//res +=`<a href="#" class="message_box" onclick="openMsg(${d.id},${d.receiver_id},${d.sender_id})"s><i class="bi bi-person-circle m-1"></i>${d.content}</a>`
					}
				}
				document.querySelector("#message_body").innerHTML = `<div class="list-group">` +res + '</div>';
			}else{
				document.querySelector("#message_body").innerHTML = data;
			}
		})
	}

	function openMsg(id, user_id){

		console.log("receiver_id : "+user_id)

		setIsRead(user_id);

		fetch("/user/get_messages_by_id/"+user_id, {
			method: "GET",
			headers: {
				'Accept': 'application/json',
				'Content-Type': 'application/json'
			}
		})
		.then(res =>res.json())
		.then(message => {
			//console.log("message : "+message.length)
			if(message.length>0){
				let res_me = ""
				let res_other = ""
				let total =""

				for(let msg of message){
					if(msg.isForMe == 1){
						res_me +=`<div class="d-flex flex-row justify-content-start" >
							<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp" alt="avatar 1" style="width: 45px; height: 100%;">
							<div id="my_message">
								<p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">${msg.content}</p>
							</div>
						</div>`
						//res_me +=`<p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">${msg.content}</p>`;
					}else{
						res_me+=`<div class="d-flex flex-row justify-content-end mb-4 pt-1">
						<div id="other_message">
							<p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">${msg.content}</p>
						</div>
						<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava4-bg.webp" alt="avatar 1" style="width: 45px; height: 100%;">
					</div>`

					}
					//total=res_me+res_other;
					
				}

				//document.querySelector("#my_message").innerHTML = res_me+res_other;

				document.querySelector("#all_message").innerHTML = res_me;
			}else{
				console.log("message : "+message)
			}
			
		})
		
		document.querySelector("#chat").style.display="block"

	}

	function quitMsg(){
		document.querySelector("#chat").style.display="none"
		
	}

	function setIsShow(){
		fetch(new Request("/user/setIsShow", {
			method: "POST",
			headers: {
			'Accept': 'application/json',
			'Content-Type': 'application/json'
			}
			})).then(req => req.json()).then(message => {
				console.log(message);
		})
	}

	function setIsRead(user_id){
		fetch(new Request("/user/setIsRead/"+user_id, {
			method: "POST",
			headers: {
			'Accept': 'application/json',
			'Content-Type': 'application/json'
			}
			})).then(req => req.json()).then(message => {
				console.log(message);
		})
	}

	</script>
</html>
